html,
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  height:100%;
  width:100%;
  /* background-color : #111; */
}
.parent{
  /* height: 100vh; */
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

}     
.card{
  height: 350px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom : 40px;
}
.card img{
  height : 40px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding : 2px
}
.top button{
  display: flex;
  align-items: center;
  border : 1px solid #dadada;
  padding: 4px 8px;
  font-size : 14px;
  border-radius : 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}
.card .top{
  display: flex;
  align-items: center;
  justify-self: space-between;

}
.center h3{
    font-size :18px;
    font-weight: 500;
}
.center  h3 span{
  font-size : 10px;
  font-weight:400;
  color : #8b8b8b;
}
.center h2{
  font-size : 20px;

}
.center .tags{
   display: flex;
   gap : 10px;
    margin-top: 10px;
}
.center .tags h4{
  font-size : 14px;
  background-color: #dadada;
  color: #111;
  padding: 3px 6px;
  font-weight: 500;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top : 1.5px solid #b1b1b1;
    padding-top:15px;
}
.bottom button{
   background-color: black;
   color:white;
   padding : 5px 10px;
   border: none ;
   border-radius: 5px;
  column-width:600;
}
.bottom h3{
  font-size : 17px;
}
.bottom p{
  font-size : 12px;
  color : #8b8b8b;
}